{{#ember-tableish class='main-table' as |table|}}
  {{#table.headers as |headers|}}
    {{#headers.header width='10rem'}}
      Kyle
    {{/headers.header}}
    {{#headers.header width='10%'}}
      Justin
    {{/headers.header}}
    {{#headers.header}}
      Turney
    {{/headers.header}}
  {{/table.headers}}

  {{!-- {{#vertical-collection
    tagName='div'
    class=table.bodyCls
    estimateHeight='24px'
    items=items
  as |item|}}
    {{#table.row}}
      <div>{{item.kyle}}</div>
      <div>{{item.justin}}</div>
      <div>{{item.turney}}</div>
    {{/table.row}}
  {{/vertical-collection}} --}}

  {{!-- {{#vertical-collection
    tagName='div'
    class=table.bodyCls
    estimateHeight='18px'
    items=items
  as |item i|}}
    {{#link-to 'ting' i class=table.rowCls}}
      <div>{{item.kyle}}</div>
      <div>{{item.justin}}</div>
      <div>{{item.turney}}</div>
    {{/link-to}}
  {{/vertical-collection}} --}}

  {{#table.body}}
    {{#each items as |item|}}
      {{#table.row}}
        <div>{{item.kyle}}</div>
        <div>{{item.justin}}</div>
        <div>{{item.turney}}</div>
      {{/table.row}}
    {{/each}}
  {{/table.body}}
{{/ember-tableish}}
